<style>
    .button-24 {
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

        .button-24:hover,
        .button-24:active {
            background-color: initial;
            background-position: 0 0;
            color: #FF4742;
        }

        .button-24:active {
            opacity: .5;
        }

    .button-25 {
        background: #5F85FF;
        border: 1px solid #5F85FF;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

        .button-25:hover,
        .button-25:active {
            background-color: initial;
            background-position: 0 0;
            color: #5F85FF;
        }

        .button-25:active {
            opacity: .5;
        }

    .button-38 {
        background-color: #FFFFFF;
        border: 0;
        border-radius: .5rem;
        box-sizing: border-box;
        color: #111827;
        font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: .875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: .75rem 1rem;
        text-align: center;
        text-decoration: none #D1D5DB solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }

        .button-38:hover {
            background-color: rgb(249,250,251);
        }

        .button-38:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
        }

        .button-38:focus-visible {
            box-shadow: none;
        }

    /* From cssbuttons.io */



    .button-edit {
        background: #FF4742;
        border: 1px solid #FF4742;
        border-radius: 6px;
        box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        display: inline-block;
        font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
        font-size: 16px;
        font-weight: 800;
        line-height: 16px;
        min-height: 40px;
        outline: 0;
        padding: 12px 14px;
        text-align: center;
        text-rendering: geometricprecision;
        text-transform: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
    }

        .button-edit:hover,
        .button-edit:active {
            background-color: initial;
            background-position: 0 0;
            color: #FF4742;
        }

        .button-edit:active {
            opacity: .5;
        }

</style>

@if (Vybaveni.IsInEditMode == true)
{
    <tr>
        <td><input @bind="Vybaveni.Name" /></td>
        <td><input @bind="Vybaveni.BoughtDate" type="date" /></td>
        <td><input @bind="Vybaveni.LastRevisionDate" type="date" /></td>
        @if (Vybaveni.NeedsRevision == true)
        {
            <td>Ano</td>
        }
        else
        {
            <td>Ne</td>
        }
        <td>
            <button class="button-25" role="button" @onclick="() => Vybaveni.IsInEditMode = false">OK</button>
        </td>
    </tr>

}
else
{
    <tr style="@StyleForRevision(Vybaveni)">
        <td>@Vybaveni.Name</td>
        <td>@Vybaveni.BoughtDate.ToShortDateString()</td>
        <td>@Vybaveni.LastRevisionDate.ToShortDateString()</td>
        @if (Vybaveni.NeedsRevision == true)
        {
            <td>Ano</td>
        }
        else
        {
            <td>Ne</td>
        }
        <td>
            <button class="button-24" role="button" @onclick="() => DeleteItemCallback.InvokeAsync()">Smazat</button>
            <button class="button-25" role="button" @onclick="() => NeedsRevision(Vybaveni)">Provést revizi</button>
            <button class="button-edit" role="button" @onclick="() => Vybaveni.IsInEditMode = true">Editovat</button>
        </td>
    </tr>

}
@code {

    [Parameter]
    public VybaveniModel Vybaveni { get; set; }

    [Parameter]
    public List<VybaveniModel> VybaveniNemocnice { get; set; }

    [Parameter]
    public EventCallback<VybaveniModel> DeleteItemCallback { get; set; }

    private string StyleForRevision(VybaveniModel obj)
    {
        if (obj.LastRevisionDate.AddYears(2) <= DateTime.Today)
        {
            return "background-color: #FF9C9C";
        }
        else
        {
            return "";
        }

    }

    private void NeedsRevision(VybaveniModel obj)
    {
        obj.LastRevisionDate = DateTime.Today;
        obj.NeedsRevision = false;
    }
}
