/* /Pages/Equipment.razor.rz.scp.css */
.button-24[b-5el28qhqzj] {
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .button-24:hover[b-5el28qhqzj],
    .button-24:active[b-5el28qhqzj] {
        background-color: initial;
        background-position: 0 0;
        color: #FF4742;
    }

    .button-24:active[b-5el28qhqzj] {
        opacity: .5;
    }

.button-25[b-5el28qhqzj] {
    background: #5F85FF;
    border: 1px solid #5F85FF;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .button-25:hover[b-5el28qhqzj],
    .button-25:active[b-5el28qhqzj] {
        background-color: initial;
        background-position: 0 0;
        color: #5F85FF;
    }

    .button-25:active[b-5el28qhqzj] {
        opacity: .5;
    }

.button-38[b-5el28qhqzj] {
    background-color: #FFFFFF;
    border: 0;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

    .button-38:hover[b-5el28qhqzj] {
        background-color: rgb(249,250,251);
    }

    .button-38:focus[b-5el28qhqzj] {
        outline: 2px solid transparent;
        outline-offset: 2px;
    }

    .button-38:focus-visible[b-5el28qhqzj] {
        box-shadow: none;
    }
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-be05vm4zlz] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-be05vm4zlz] {
    flex: 1;
}

.sidebar[b-be05vm4zlz] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-be05vm4zlz] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-be05vm4zlz]  a, .top-row[b-be05vm4zlz]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-be05vm4zlz]  a:hover, .top-row[b-be05vm4zlz]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-be05vm4zlz]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-be05vm4zlz] {
        display: none;
    }

    .top-row.auth[b-be05vm4zlz] {
        justify-content: space-between;
    }

    .top-row[b-be05vm4zlz]  a, .top-row[b-be05vm4zlz]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-be05vm4zlz] {
        flex-direction: row;
    }

    .sidebar[b-be05vm4zlz] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-be05vm4zlz] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-be05vm4zlz]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-be05vm4zlz], article[b-be05vm4zlz] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-mtb0sz6y8i] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-mtb0sz6y8i] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-mtb0sz6y8i] {
    font-size: 1.1rem;
}

.oi[b-mtb0sz6y8i] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-mtb0sz6y8i] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-mtb0sz6y8i] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-mtb0sz6y8i] {
        padding-bottom: 1rem;
    }

    .nav-item[b-mtb0sz6y8i]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-mtb0sz6y8i]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-mtb0sz6y8i]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-mtb0sz6y8i] {
        display: none;
    }

    .collapse[b-mtb0sz6y8i] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
