@page "/vybaveni"
@using PptNemocnice

<PageTitle>Vybavení nemocnice</PageTitle>

<div class="container">
    <h3 class="p-3 text-center">Vybavení nemocnice</h3>

    <table class="table">

        <thead>
            <tr>
                <th>Název</th>
                <th>Datum nákupu</th>
                <th>Datum poslední revize</th>
                <th>Potřebuje revizi?</th>
                <th><button class="button-38" role="button" @onclick="() => IsBeinCreated = true">+</button></th>
            </tr>
        </thead>

        <tbody>
            @if (IsBeinCreated == true)
            {
                @*
                    <AddRow IsBeingCreatedCallback="() => IsBeinCreated = false" AddNewItem="AddNewItem" />
                *@

                VybaveniModel newModel = new VybaveniModel
                {
                    Name = "",
                    BoughtDate = DateTime.Today,
                    LastRevisionDate = DateTime.Today,
                    IsInEditMode = true
                };

                <VybaveniRow EditDoneCallback="(success) => { if(success) vybaveniNemocnice.Insert(0,newModel); IsBeinCreated = false; }"
                             Vybaveni="newModel">
                    <button class="button-25">Přidat</button>
                    <button type="button" @onclick="() => IsBeinCreated = false" class="button-24">Zrušit</button>
                </VybaveniRow>


            }

            @foreach (var vybaveni in vybaveniNemocnice)
            {
                <VybaveniRow Vybaveni="vybaveni" DeleteItemCallback="() => vybaveniNemocnice.Remove(vybaveni)" />
                @vybaveni.Name
            }

        </tbody>

    </table>
</div>

@code {

    private bool IsBeinCreated = false;

    List<VybaveniModel> vybaveniNemocnice = VybaveniModel.GetTestList();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    

 
       @* private void AddNewItem(VybaveniModel item)
        {
            vybaveniNemocnice.Insert(0, item); změna pro push
        }*@
  
}

